.App {
  font-family: sans-serif;
  text-align: center;
}

select {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.2s ease;
}

select:focus {
  border-color: #118090;
  box-shadow: 0 0 3px rgba(17, 128, 144, 0.5);
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #d3d3d3;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  padding: 5px;
}

.card .card-body span {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
